<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meu Site ExpressJS</title>
    <style>
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      body {
        background-color: aliceblue;
      }
      .menu {
        background-color: aqua;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    </style>
  </head>
  <nave class="menu">
    <img
      width="150"
      src="https://conteudo.imguol.com.br/c/esporte/5a/2024/06/17/mbappe-usa-mascara-de-michelangelo-personagem-de-tartarugas-ninjas-1718670947225_v2_615x300.jpg"
      alt=""
    />
    <ul>
      <a href="/">HOME</a>
      <a href="/sobre">SOBRE</a>
    </ul>
  </nave>

  <body></body>
</html>
